body {
    background-color: rgba(249, 252, 255, 0.68);
}

.btn {
    color: whitesmoke;
    padding: 0.5em;
    border-radius: 8px;
    border-color: gray;
    border-style: solid;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.btn-primary {
    background-color: rgb(89, 152, 203);
}

form {
    border: 1px black solid;
}

.row {
    display: inline-block flex;
    background-color: rgb(177, 236, 209);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;

}

.panel-tasks {
    margin-top: 1%;
    margin-bottom: 1%;
    display: inline-block flex;
    align-items: center;
    width: 20rem;
    height: 45rem;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(51, 51, 51, 0.4);
}

.container-tasks {
    display: block;
    min-height: 40rem;
    border: 1px black solid;
    background-color: rgb(188, 185, 185);

}

.falseBackground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}

.modalNewTask {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;

}

.card-task {
    width: 15rem;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(195, 229, 240);
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 25px;
    border: 1px black solid;
}